* {
  box-sizing: border-box;
}

body {
  font-family: Arial;
  margin: 0;
  overflow: hidden;
  height: 100%;
  
  
}

.header{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.flex-container{
  display: flex;
  height: 3000px;
  width: 100%;
}
.left-panel{
  max-height: 100vh;
    background-color:white;
    padding: 10px 20px;
color:black;
  width:60%;
  overflow: auto;
  overflow-y: scroll;

}
.right-panel{
  width:40%;
  position: fixed;
  top:55px;
  z-index: 1;
  right:0;
  /* overflow: hidden; */
  padding: 8px 0;
  height: 100vh;
}

.leaflet-container {
  width:100%;
  padding: 20px;
  height: 100%;
}

@media screen and (max-width:768px) {
  
    .right-panel{display: none}
    .left-panel{width:100vw;}
    
}