.introduction {
  margin-top: 20px;
    width: 100%;
    height: fit-content;
    display:flex;
    flex-direction: column;
  padding: 0;
  align-items: center;
    justify-content: center;
    text-align: center;
}
